<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0"> Register</h3>
      </div>
      <div class="card-body">
        <form class="form">
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input [(ngModel)]="registerUserData.first_name" class="form-control rounded-0"
                   mame="first_name" id="first_name" required
                   type="text" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input [(ngModel)]="registerUserData.last_name" mame="last_name"
                   type="text" class="form-control rounded-0" id="last_name"
                   [ngModelOptions]="{standalone: true}" required>
          </div>
          <div class="form-group">
            <label for="user_name">User Name</label>
            <input [(ngModel)]="registerUserData.user_name" mame="user_name"
                   type="text" class="form-control rounded-0" id="user_name"
                   [ngModelOptions]="{standalone: true}" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input [(ngModel)]="registerUserData.email" mame="email" type="text"
                   class="form-control rounded-0" id="email"
                   [ngModelOptions]="{standalone: true}" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input [(ngModel)]="registerUserData.password" mame="password" type="password"
                   class="form-control rounded-0" id="password"
                   [ngModelOptions]="{standalone: true}" required>
          </div>
          <div class="form-group">
            <label for="role">Role</label>
            <select [(ngModel)]="registerUserData.role" mame="role" [ngModelOptions]="{standalone: true}"
                    class="custom-select form-control rounded-0" id="role">
              <option selected>Athlete</option>
            </select>
          </div>
          <button (click)="registerUser()" type="button"
                  class="btn btn-primary float-right">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
